* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  line-height: 1.5;
}
.container {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
}
.navbar {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, .6);
}
ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 1rem;
  padding: 1rem;
}
.link {
  color: #fff;
  text-decoration: none;
}
.link:hover {
  color: skyblue;
}
section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  scroll-snap-align: center;
}
section p {
  color: #fff;
  text-shadow: 0 0 4px skyblue;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;

}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
#home {
  background-image: url("https://images.unsplash.com/photo-1484482340112-e1e2682b4856?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#about {
  background-image: radial-gradient(#f2f2f2, #a6a6a6, skyblue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  color: #333;
}
#about h2 {
  text-align: center;
}
.col {
  text-align: center;
}
.col-1 {
  grid-column: 1;
}
i {
  color: rgba(1, 1, 1, .7);
  text-shadow: 0 0 4px skyblue;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

#about h2 {
  text-transform: uppercase;
}
#about p {
  color: #333;
  font-size: 1rem;
}
#services {
  position: relative;
  /*display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;*/
  display: flex;
  margin: auto;
  width: 100%;
}
.video-wrap {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: -2;
}
video {
  object-fit: cover;
  width: 100%;
}
.services__col {
  width: 45%;
  height: 300px;
}
.services__text__container {
  margin-top: 3rem;
  z-index: 2;
  transform: translateX(-12deg);
  padding: 1rem;
  box-shadow: 0 1rem 2.4rem rgba(0, 0, 0, .8);
  background-color: #4d4d4d;
}
.services__text {
  font-size: 1rem;
}
.cite {
  margin-left: 3rem;
}
#contact {
  background-image: radial-gradient(skyblue, #f2f2f2, #a6a6a6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #333;
  position: relative;
}
.heading-center {
  top: 23%;
  margin: auto;
  position: absolute;
  font-size: 3.4rem;

}
.contact__cta {
  color: #f1f1f1;
  text-shadow: 0 0 4px skyblue;
  text-decoration: none;
  background-color: #333;
  border-radius: 3px;
  padding: .5rem .9rem;
  font-size: 1.2rem;
  transition: all .3s;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .6);
}
.contact__cta:hover {
  transform: translateY(-5px);
  opacity: 0.8;
}
.contact__footer {
  width: 100%;
  height: 20%;
  background-color: #333;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 5px;
}
.contact__footer ul {
  margin-top: 5px;
}
.contact__footer-p {
  font-size: .8rem;
  line-height: .5;
  margin-top: -10px;
}
.contact__footer .fab {
  font-size: 1.4rem;
  color: #f9f9f9;
  transition: all .3s;
}
.contact__footer .fab:hover {
  transform: scale(1.2);
}
.cta {
  color: #fff;
  text-shadow: 0 0 4px skyblue;
  text-decoration: none;
  border: 2px solid #fff;
  padding: .4rem .6rem;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
  transition: all .3s;
  text-transform: uppercase;
  font-weight: 600;
}
.cta:hover {
  color: black;
  background-color: #fff;
}








@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 6px #117EB5, 0 0 10px #117EB5, 0 0 10px #117EB5, 0 0 7px #117EB5, 0 0 8px #117EB5;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 5px #194F6A, 0 0 5px #194F6A, 0 0 5px #194F6A, 0 0 5px #194F6A, 0 0 10px #194F6A, 0 0 4px #ff4da6;
  }
}
@media (max-width: 780px) {
  #about {
    display: block;
  }
  .services__col {
    width: 100%;
  }

}
